/work/*
!/work/*.c
!/work/*.json
!/work/*.csv
/dsb_build/bin*/
/dsb_build/libs*/
/dsb_build/out*/
/dsb_build/variants/
/dsb_build/trace*/
/dsb_build/ab_*/
*.data
*.data.old
*.ll
*.mlir
*.o
*.so
*.a
*.log
*.err
__pycache__/
dsb_build/out_utl_*/
dsb_build/libs_utl_*/
dsb_build/libs.plan.json
