/openjdk/
/trino/trino-server-*/
/trino/trino-server-*.tar.gz
/trino/trino-cli-*-executable.jar
/trino/data/
/wideapi/src/
/wideapi/classes/
*.class
*.jar
*.so
*.data
*.map
*.pid
*.log
*.time
__pycache__/
