# Compiled executables
./microbench/src/lat_bench
./microbench/src/lat_bench_perf
./microbench/src/lat_bench_prefetch
./microbench/src/lat_bench_prefetch_perf

./microbench/result

# Object files
*.o
*.obj
