#------------------------------------------------------------------------------
# SPEC CPU(R) 2026 config for PrefetchIT baseline clang builds.
#------------------------------------------------------------------------------

%ifndef %{label}
   label   = clangbase
%else
   label   = %{label}
%endif

%ifndef %{build_ncpus}
%   define  build_ncpus 8
%endif

default:
   allow_label_override = yes
   bench_post_setup     = sync
   command_add_redirect = 1
   flagsurl             = $[top]/config/flags/llvm.xml
   ignore_errors        = 1
   iterations           = 1
   line_width           = 1020
   log_line_width       = 1020
   makeflags            = --jobs=%{build_ncpus}
   mean_anyway          = 1
   output_format        = txt,html,cfg,csv
   preenv               = 1
   reportable           = 0
   tune                 = base

default:
   copies                 = 1
   threads                = 1

default:
%ifndef %{llvm_dir}
%   define llvm_dir "/usr/lib/llvm-19"
%endif
%ifndef %{gcc_dir}
%   define gcc_dir "/usr"
%endif

   preENV_LD_LIBRARY_PATH  = %{llvm_dir}/lib64/:%{llvm_dir}/lib/:%{gcc_dir}/lib64/:%{gcc_dir}/lib/:/lib64
   SPECLANG                = %{llvm_dir}/bin/
   SPECGNU                 = %{gcc_dir}/bin/

   CC                      = $(SPECLANG)clang      -std=c18     -m64
   CXX                     = $(SPECLANG)clang++    -std=c++17   -m64
   FC                      = $(SPECGNU)gfortran    -std=f2018   -m64
   CC_VERSION_OPTION       = --version
   CXX_VERSION_OPTION      = --version
   FC_VERSION_OPTION       = --version

800.pot3d_s:
  PORTABILITY = -DSPEC_SUPPRESS_LOCAL_AND_REDUCE

710.omnetpp_r:
   PORTABILITY = -fno-finite-math-only

734.vpr_r,834.vpr_s:
   PORTABILITY = -fno-finite-math-only

735.gem5_r,835.gem5_s:
   PORTABILITY = -fno-finite-math-only

736.ocio_r:
   PORTABILITY = -fno-finite-math-only

737.gmsh_r:
   PORTABILITY = -fno-fast-math

748.flightdm_r:
   PORTABILITY = -fno-fast-math

753.ns3_r,853.ns3_s:
   PORTABILITY = -fno-finite-math-only

767.nest_r,867.nest_s:
   PORTABILITY = -fno-finite-math-only
   PORTABILITY_LIBS = -lstdc++fs

intspeed,fpspeed:
   preENV_OMP_STACKSIZE = 120M

openmp:
   EXTRA_OPTIMIZE  = -fopenmp=libgomp -DSPEC_OPENMP

cxxthreads:
   EXTRA_OPTIMIZE  = -pthread

default=base:
   OPTIMIZE       = -g -O3 -march=native

default:
   basepeak = yes

default=peak:

default:
   sw_compiler001      = C/C++: clang/clang++ 19.1.7, Fortran: GNU Fortran
   sw_compiler_category = Community
   sw_base_ptrsize     = 64-bit
   sw_peak_ptrsize     = Not Applicable
   hw_vendor           = Unknown
   tester              = PrefetchIT
   test_sponsor        = PrefetchIT
   license_num         = nnn
   hw_avail            = Jul-2026
   sw_avail            = Jul-2026
   hw_cpu_name         = Unknown
   hw_cpu_nominal_mhz  = Unknown
   hw_cpu_max_mhz      = Unknown
   hw_model            = Unknown
   hw_nchips           = 1
   hw_ncores           = Unknown
   hw_nthreadspercore  = Unknown
   hw_memory           = Unknown
   hw_pcache           = Unknown
   hw_scache           = Unknown
   hw_tcache           = Unknown
   sw_file             = ext4
   sw_os               = Linux
   sw_state            = Run level unknown
   power_management    = Unknown

__HASH__
853.ns3_s=base=clangsmoke:
# Last updated 2026-07-05 21:21:10
opthash=19c443ea65d5330f64b6631c46c9828fb96e84c6507a8ad86d55efc0d1f67bf8
baggage=
compiler_version=\
@eNpNyrsOgjAUANC9X3FHDSm05c2KDixiFA0bodBgk1JIoYSJb9fR6SwH8rrOm/f18SzKW1Peqx8Z\
enGrVwudavUAmzCLnDTQ1KVuDCfHYYSFhNKAEt9nxOn6mCSEpYJwhukh9pkefyXwmRuHZ1S1ZhBr\
BnsSNVGA5w4rqe2OB21R9TGi7WGceqEymKdF7qjQy9oqJfqLNBl4djGektxTahsxTT0uNfoCbsM4\
6Q==
compile_options=\
@eNqtUdFugjAUfecrmr6SCkynzoiJIHNsSIliMvdCsFbthq2hYObfr7KZaeKWzOy89N7e2557zwkF\
R5v0jS5ZRoHYFkxw2dFkkTNSJHnJFyxPdjRny70NLaipUKoWFddM04Sa5uJR1AHQKGVuZGxuZNlu\
g6w7Y864QbKUr3QdKCBZLGyi61brkGyaDYAIQOLIWBMADSaR56ojHHjOdPiVJ/1pjBNnFnt4PPDG\
tvlu3dQbt81WGyCfS1Sv1dsG4yQrF1TdyC0lecoXimMFEK4rqjQna5unBdvRapAlF2jJOCuoqhVr\
JHi2B5/oSlHmhPag5naA+/xs/32t41PsPOIotuHZllBTUrnR9D7oDyeqdr5xVXW80H1IzhqulABq\
uAPUDP7If/HUXxf0qBgjPI77jh/48Ux1XVIHaoEfPl1lcoWfrPjFi66Yv1JSyB44wbeQAFQ6B4Or\
HPo/XaoZ8PTg84nJHzN495k=
exehash=43a119c65f557c85708187756188fb886b83056ba83583584c8819d348009a33

821.gcc_s=base=spgobase:
# Last updated 2026-07-05 21:26:24
opthash=02bc45219c9450ea6ffa91da4d5989a901eeb3984065a086b283a2e0fced9e50
baggage=
compiler_version=\
@eNrVzrsOgjAYQOG9T/GPGlJoC8hlRQcWMYqGjVBosEkppFDCxLPr6Cs4neUbDmRVldWvy/2RF9e6\
uJXfpOjJrV4stKrRPazCzHLUQBOXuhEcHIcRFhJKA0p8nxGn7SISE5YIwhmmu9gmuv+QwGduFB5R\
2ZheLCls8ak+BXhqsZLabrjXFpVvI5oOhrETKoVpnOWGcj0vjVKiO0uTgmdn4ynJPaXWAdPE41Ij\
yP73/QMorHEh
compile_options=\
@eNrtVVFvmzAQfudXWLxGhNB2bRaVSgmhCVuCoyaZur1Y4JjMK7aRgWjtr98RQtJM1bZ2L5sUS9j3\
2Wdz3PcdDpW0RPTAEp4ypLKCK5n3jLzQnBZEl3LFNdkwzZNH13RMA8wcXMBudzod0zA8PJ31kGmX\
ubZTHttpuhGW896OubRpGsl1q4WgWXmxcmmr5VxVQFxeIIsiSzVvbCtkDecz34MhHPqD5WiHSX+5\
wGTweeHju6F/53a+O2fnF+8ur7rgMO5/8omHw9tgRMbVTkz682mzs3vmICvIM0aJZvUHNZjLlEtG\
qJKFVinMtuFZU4go4JKm5YrV2KbNaCWR4OljA5UQSu6BTPi6AiKre1tkyd6Se+tpZ+lIrsCEbMUR\
fSh0RFkNaZbtDfsQCEysGJWliJn+CUKad0dxQEUVn8jotk8q3ydYgXxDdPgc0h5p+tWVUcE3DB3a\
da5KTdmNaXg95N3fu69ns9mKBx/wbOGaR+SaBijEmy1vJ/3RHNaOid6uDvzQG5MjhxPzf828aeAe\
Aj6CafDFh7y+IAPz9wVci6Sm3OnW4FTA/1IBv1TGnvt6Suudpxr+72p4EoQf33QJ19T/Ul3XKv7G\
aJHfPNfaQRgIbVUzGb7p1viT/1N1OF5Wgnymxh9Q/a7r
exehash=38bfae1925a4a80256e9e559b883607110fcc8eeaea83fbbcaac937853786109

823.llvm_s=base=spgobase:
# Last updated 2026-07-05 21:40:15
opthash=113c323ce5594970c6aee7bb4d44497b62c3f2d5702f34730ca4274ad6cea5e6
baggage=
compiler_version=\
@eNrVzrsOgjAYQOG9T/GPGlJoC8hlRQcWMYqGjVBosEkppFDCxLPr6Cs4neUbDmRVldWvy/2RF9e6\
uJXfpOjJrV4stKrRPazCzHLUQBOXuhEcHIcRFhJKA0p8nxGn7SISE5YIwhmmu9gmuv+QwGduFB5R\
2ZheLCls8ak+BXhqsZLabrjXFpVvI5oOhrETKoVpnOWGcj0vjVKiO0uTgmdn4ynJPaXWAdPE41Ij\
yP73/QMorHEh
compile_options=\
@eNrtmF1vmzAUhu/zKxC3ESVpu7aLSiViCGVLAgLSdrtBDjipW7AjG9J2v34mIV+QbWp3MU2Cm/i8\
59g++OPRIWNKlBQ+oxlOkEQXGaaE91o8YzjKQpaTGLNwiRievWlyV26JJhchon3S6XTkVgs4I7cn\
yWrOmZrgqZoky1TpflanmKhRAsm83ZbEo/As1qJ2u3tZGOnFuaREkkI3M55QSTF81wTiZ2yY/YlV\
2qE+CZyw/y0wHc8wPa3z2j09O/90cXm1H2kFph+Et7ofekFgax0hhdZ4EvrOxANmYYV+YIAQOGM/\
0MdBONKB5/g7x8DxRnpdHtoje6tKio1JlOQxUiJKZni+E0SreHfzNUOkWB5eCi7kHG0MA03zuU1m\
VB35g1IDNEYWIoeW6qMERcW6GLpVcVkJncLEFhEVh85Tl2GSIVZxDPESraa+g0m+Tcb2PATjbXDR\
GzK+tQeMiqFIrDoLREZuqQ4xeUZMLa2AQcJnlKVctYk4MHmKSAaLtOsBzvQJ6B6oO/wIJpDVdX0+\
Z4hzkXsxNqCpOE/o+MS/dALKaJ4JFz/iG1g5ZPGREV1nI0I2R1k94k7sDWX4B6rta7Hkdxi9lI4+\
ziKhqAcrvRHvGd7tVYBeM921t3tTNjyUQvbMdz3FKiOYVgckkL0NRGpwk6yfLxaUZdv8UnENk3q6\
xr3uDQ5eVnXpC2IuOCqq1t6xq7hGYC0YiEfHI9ZmMe9xf+UEllesnld541acUfkjVE6FyBcoCjFJ\
xF6HomPGaCKuq7igzpmADWTRo0bEyVwiaf0oi+xRrGRctK85zVmEbuQW6Eng4UF7P8s2XZ3+F8cN\
NPkAbXJL8BG4k8FQt3zhO8Tcyts3x+A2PAhouNdwr+Few713c09uOT1JUEjc4O+moMkRCK5CzIfA\
08O9wBKJ8p8rupKhKwp2r9ZGU9E1ZGvI1pDtX1V01aquWtcB7f1AW/dsiroGfQ36GvT930Xd0B5/\
/dDfdGsa/ga8O+pe0+mTOE78RtqH8paZkrQC6tD40Bf2X1e1xczOpAD5HsV/AkDf8B0=
exehash=1d4d99a0af218d38b607629a6cdca874d5499df443671b3407b3714490c8e91b

853.ns3_s=base=spgobase:
# Last updated 2026-07-05 21:52:00
opthash=19c443ea65d5330f64b6631c46c9828fb96e84c6507a8ad86d55efc0d1f67bf8
baggage=
compiler_version=\
@eNpNyrsOgjAUANC9X3FHDSm05c2KDixiFA0bodBgk1JIoYSJb9fR6SwH8rrOm/f18SzKW1Peqx8Z\
enGrVwudavUAmzCLnDTQ1KVuDCfHYYSFhNKAEt9nxOn6mCSEpYJwhukh9pkefyXwmRuHZ1S1ZhBr\
BnsSNVGA5w4rqe2OB21R9TGi7WGceqEymKdF7qjQy9oqJfqLNBl4djGektxTahsxTT0uNfoCbsM4\
6Q==
compile_options=\
@eNqtUdFugjAUfecrmr6SCkynzoiJIHNsSIliMvdCsFbthq2hYObfr7KZaeKWzOy89N7e2557zwkF\
R5v0jS5ZRoHYFkxw2dFkkTNSJHnJFyxPdjRny70NLaipUKoWFddM04Sa5uJR1AHQKGVuZGxuZNlu\
g6w7Y864QbKUr3QdKCBZLGyi61brkGyaDYAIQOLIWBMADSaR56ojHHjOdPiVJ/1pjBNnFnt4PPDG\
tvlu3dQbt81WGyCfS1Sv1dsG4yQrF1TdyC0lecoXimMFEK4rqjQna5unBdvRapAlF2jJOCuoqhVr\
JHi2B5/oSlHmhPag5naA+/xs/32t41PsPOIotuHZllBTUrnR9D7oDyeqdr5xVXW80H1IzhqulABq\
uAPUDP7If/HUXxf0qBgjPI77jh/48Ux1XVIHaoEfPl1lcoWfrPjFi66Yv1JSyB44wbeQAFQ6B4Or\
HPo/XaoZ8PTg84nJHzN495k=
exehash=c9385e789ffae8c89acff58069147070cc280c494f5fe2437bf6a8fde7e476d4
809.cactus_s=base=spgobase:
# Last updated 2026-07-05 22:06:08
opthash=faa3f96068edb783f47b40fe8d2758e1591ba54f69f6b2e06836a0a2c455d83d
baggage=
compiler_version=\
@eNrVzrsOgjAYQOG9T/GPGlJoC8hlRQcWMYqGjVBosEkppFDCxLPr6Cs4neUbDmRVldWvy/2RF9e6\
uJXfpOjJrV4stKrRPazCzHLUQBOXuhEcHIcRFhJKA0p8nxGn7SISE5YIwhmmu9gmuv+QwGduFB5R\
2ZheLCls8ak+BXhqsZLabrjXFpVvI5oOhrETKoVpnOWGcj0vjVKiO0uTgmdn4ynJPaXWAdPE41Ij\
yP73/QMorHEh
compile_options=\
@eNrtll9vmzAQwN/5FBavEXGiTdsSlUqNQ9NsCaCGSNleEDGGeAMb2RBt334HNF0arc1SqQ+T8At3\
9vnP+X532JXCyqMfLOEZQ7IouRR6bOhScVqGqhIxV+GeKZ78ss2haYCowQTk/mAwMA2DeEt/jExc\
aYUzvsVZts+t4QhvucA0i0Ta6yFoli5jm/Z6w4+1kn94jyyKLHnYsS+RNV35DoGPO3Um6xkIhHhT\
56E/dL2QjEZhvd3C2Rz3hs7SD76Gq+B+TYIVsuZUioSnGmue18eIuUj1M92YC5pVMTsZbmUrjsoI\
RhQrpMZJxvQOa0WP5kRKgYcsZ6J8dgfSdFYqqh3FwU4qce40mES0rPTkzNlvK0Gb27t4uVOPCq6i\
3R9XaWNfVOkO++vZ3YnT6qcumKBMgQwSDVNWQhgPmmItPKD3IdQpsrx3EPFI0Z0t4BL2DLXNSiSs\
kxc2YJPKvDjE1PMdd+nXFldaVoqya9MgY0Q2G/tyzA5Tvclnzw9s8wl1pgHoEn99u7iZrWDsKYHN\
6MRxyV34aNAh+b8jaRreGAEK8+X8mwMh/QufjYmzCe5vwiPDF2k1z9fBB+gbQIefWqWrg10d/Mda\
eFoNiX05a+3MrhR2VL5pKVzM3S+vehK2oL6QKefS5EpuvzNa6mt0nFuPkCPUZMBi+qqHxBv9N+rz\
eOs6H4+S8TdDItWI
exehash=67abc1ca9ccf6620d98c40705d565915132992c63eaa35c52abde8d1723f3288

